.GridSquare{
  border:1px solid black;
  width:50px;
  height:50px;
  display:inline-block;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.GridRow{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width:805px;
}
#frame{
    width:800px;
    height:800px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    float:left;
}
#resize{
    font-size: 22px;
    border: 1px solid black;
    background-color: orange;
    display:inline;
    float:left;
    clear:both;
}
.textBox{
    font-size: 22px;
    float:left;
    display:inline;
    padding: 0px 2px 0px 10px;
}
.enterText{
    font-size: 22px;
    width:80px;
    float:left;
    display:inline;
}
#menuBar{
    float:left;
    clear:both;
    margin-top: 10px;
}
#colorPicker{
    float:left;
    clear:both;
    display: inline;
    margin-top: 15px;
}
.ColorBox{
    width:60px;
    height:60px;
    display: inline-block;
    margin: 0px 5px 0px 5px;
}
